@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './loader.scss';

:root {
    --lightBlue: rgb(43, 140, 205);
    --mediumBlue: rgb(60, 115, 187);
    --textLight: rgb(68, 71, 76);
    --danger: rgb(182, 35, 52);
    --primary: rgb(10, 10, 10);
    --primaryHover: rgb(39, 37, 37);
    --text-gray: rgb(62, 62, 63);
    --text-gray2: rgb(49, 49, 50);
    --light-gray: #dfdfdf;
    --white: rgb(246, 246, 246);
    --input-gray: rgb(213, 213, 213);
    --yellow: rgb(235, 200, 10);
}

$dark: rgb(98, 98, 98);
body {
    background: rgb(237, 235, 232);
    background-size: 400% 400%;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}
.body-account{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 20px;   
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}

.logo-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.direction {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: var(--mediumBlue) !important;
}

.signInText {
    padding: 10px;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    font-size: 14px;
    color: var(--text-gray);
}

.bg-semi-transparent {
    background-color: #ffffffb5;
}

.welcome-text {
    font-weight: 300;
}

.gray {
    color: var(--text-gray);
}

.gray2 {
    color: var(--text-gray2);
}

.border-radius-1 {
    border-radius: 5px;
}

.grayTextInput {
    background-color: transparent !important;
    color: var(--text-gray) !important;
    outline: 0px;
}

.text-nomb {
    color: black !important;
    transition: all 0.5s ease;
    transform: rotate(50deg);
}

body {
    padding: 0px;
    margin: 0px;
}

.pi {
    border-bottom: 1px solid rgb(201, 201, 201);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 100%;
    background-color: transparent;
    box-shadow: none !important;
    outline: 0px solid transparent;
    height: 40px;
}

h2,
p,
span {
    color: var(--textLight);
}

.balanceContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wallet {
    height: 30px;
    border-radius: 15px;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    margin-top: 5px;
    border: 1px solid var(--light-gray);
    width: 140px;
    transition: all 0.4s ease;
}

.wallet:hover {
    cursor: pointer;
    background-color: #cef9ff;
    border: 1px solid var(--lightBlue);
}

.payBtnContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.balance {
    line-height: 30px;
    color: var(--mediumBlue);
    font-size: 40px;
    padding: 0px;
    margin: 0px;
}

.addBalanceBtn {
    width: 34px;
    height: 34px;
    border-radius: 34px;
    border: none;
    background-color: rgb(50, 65, 140);
    display: flex;
    align-items: center;
    justify-content: center;
}

.plusBtn {
    font-size: 26px;
    height: 20px;
    font-weight: 600;
    color: aliceblue;
    padding-top: 0px;
    margin-top: 0px;
    line-height: 12px;
}

.addBalanceBtn:hover {
    cursor: pointer;
    background-color: rgb(64, 79, 154);
}

.tittleLightBlue {
    color: var(--mediumBlue);
    padding: 0px;
    margin: 0px;
}

.operationsList {
    min-height: 100px;
}

.wallet-list-move {
    font-size: 14px;
}

.sb {
    font-weight: 600;
}

.operation {
    border-bottom: 1px solid var(--light-gray);
    min-height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
}

.cGreen {
    color: rgb(101, 196, 101);
}

.cRed {
    color: rgb(218, 131, 123);
}

.negativeAmount {
    padding-right: 20px;
}

.principalContainer {
    min-height: 100vh;
}

.footerButton {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.shadow2 {
    box-shadow: 0px 0px 10px 5px rgb(221, 221, 221);
}

.buttonFooterContainer {
    display: flex;
    justify-content: flex-end;
}

.btnPay {
    background-color: var(--mediumBlue);
    height: 36px;
    width: 120px;
    border-radius: 3px;
    border: 1px solid var(--mediumBlue);
    color: aliceblue;
    font-weight: 500;
    padding: 0px 10px;
}

.btnPayDisabled {
    background-color: rgb(190, 190, 190);
    height: 36px;
    width: 120px;
    border-radius: 3px;
    border: 1px solid transparent;
    color: rgb(227, 227, 227);
    font-weight: 500;
    padding: 0px 10px;
}

.movements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

select {
    color: var(--text-gray);
    border-radius: 15px;
    padding: 3px 5px;
    text-align: center;
    display: flex;
    border: 1px solid var(--light-gray);
}

.addBalance {
    height: 80px;
    width: 100%;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid transparent;
    color: aliceblue;
    font-weight: 500;
    padding: 0px 10px;
}

.bg-blue {
    background-color: var(--lightBlue);
}

.bg-green {
    background-color: rgb(38, 168, 38);
}

.bg-mediumBlue {
    background-color: var(--mediumBlue);
}

.payBtnContent {
    display: flex;
    justify-content: flex-end;
}

.form-inputs {
    text-align: left;
}

.copibtn {
    transition-duration: 0.5s;
}

.copibtn:hover {
    cursor: pointer;
    color: var(--lightBlue)
}

.bg_modal {
    background-color: rgba(54, 54, 54, 0.501);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(5px);
    z-index: 998;
}
.max-600{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-max{
    max-width: 1000px;
    width: 100%;
}
.navContainer{
    color: var(--text-gray);
    display: flex;
    align-items: center;
    padding:0px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.logoNav {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 38px;
    background-image: url(../img/logo.png);
}

.navName {
    display: flex;
    align-items: center;
}

.logoutButton {
    border-radius: 30px;
    padding: 6px 15px;
    border: none;
    border: 1px solid var(--light-gray);
    color: var(--text-gray);
    display: flex;
    width: 85px;
    align-items: center;
    justify-content: space-between;
    transition: all 0.4s ease;
}

.logoutButton:hover {
    background-color: var(--light-gray);
}

.backgroundModal {
    background-color: rgba(0, 0, 0, 0.818);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 999;
}

.modalIn {
    background-color: aliceblue;
    border-radius: 8px;
    padding: 20px;
    color: black;
    width: 300px;
    height: 300px;
    ;
}

.titleModal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeModal {
    background-color: var(--danger);
    border-radius: 50%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.min-h-100vh {
    min-height: 100vh;
}

/* login button */

.btn-primary {
    background-color: var(--primary);
    border: none;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    --bs-btn-active-color: rgb(223, 223, 223);
    --bs-btn-active-bg: rgb(57, 57, 57);
    --bs-btn-active-border-color: rgb(33, 33, 33);

}

.btn-primary:hover {
    background-color: var(--primaryHover);
}

.login-button {
    border-radius: 3px !important;
    border: 1px solid var(--primary);
}

.login-button:hover {
    border: 1px solid rgb(88, 139, 166);
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--primaryHover);
}

.h2-light {
    font-weight: 300;
}

/* .wall {
    background: linear-gradient(45deg, rgb(223, 223, 223), rgb(242, 242, 242));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.bg-white {
    background-color: rgb(255, 255, 255) !important;
}

.footerLinks {
    text-align: left;
}

p {
    margin: 0px;
    padding: 0px;
}

.eye-btn,
.form-control {
    border-radius: 0px !important;
}

.eye-btn:hover {
    border-bottom: 1px solid var(--lightBlue);
}

input:hover {
    border-bottom: 1px solid var(--lightBlue);

}

.addBalanceContainer {
    background-color: white;
    box-shadow: 3px 3px 10px 3px rgb(203, 203, 203);
    padding: 20px;
    border-radius: 8px;
}

.addSelect {
    text-align: left;
}

.input-addBalance {
    background-color: var(--input-gray);
    border-radius: 3px;
    height: 60px;
    border: none;
    outline: none;
    font-size: 20px;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.input-addBalance:focus {
    background-color: var(--input-gray);
    outline: none !important;
    border: none;
    box-shadow: none;
}

.centerDollar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;

    background-color: var(--input-gray);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.centerDollarUSDT {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 80px;
    background-color: var(--input-gray);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.dollar {
    font-size: 20px;
    font-weight: 500;
    color: rgb(64, 64, 64);
}

.text-sm {
    font-size: 13px;
}

.between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total-add {
    font-size: 20px;
    color: rgb(86, 86, 86);
    font-weight: 500;
}

.light {
    font-weight: 400;
}

.admin-link {
    text-decoration: none;
}

.bg-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #121212ca;
    z-index: 999;
    padding: 10px;
}

.modalBody {
    width: 400px;
    min-height: 400px;
    padding: 20px;
    background-color: #e4e4e4;
    border-radius: 2px;
    box-shadow: 5px 5px 5px 0px rgba(16, 16, 16, 0.314);
}

.notify {
    padding: 15px 30px;
    transition: 0.8s ease;
    width: 80%;
    max-width: 600px;
    top: 15px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
}

.notify-info {
    background-color: rgb(174, 208, 255);
    border-bottom: 1px solid var(--mediumBlue);
    right: 15px;
    color: var(--mediumBlue);
}

$bg-warning : rgb(255, 240, 199);
$color-warning : rgb(154, 120, 25);

.notify-warning {
    background-color: $bg-warning;
    border-bottom: 1px solid $color-warning;
    right: 15px;
    color: $color-warning;
}

.notify-danger {
    background-color: rgb(255, 163, 142);
    border-bottom: 1px solid rgb(175, 82, 48);
    right: 15px;
    color: rgb(186, 87, 51);
}

.notify-success {
    background-color: rgb(199, 240, 212);
    border-bottom: 1px solid rgb(23, 123, 88);
    right: 15px;
    color: rgb(21, 133, 94);
}

.notify-disabled {
    background-color: transparent;
    border-bottom: 1px solid transparent;
    right: 100%;
    color: transparent;
}

.x-notify {
    margin-left: 15px;
    transition: 0.5s ease;
}

.x-notify:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.amountTransfer {
    background-color: rgb(218, 218, 218);
    border-radius: 3px;
    padding: 8px;
    width: 100%;
    font-size: 28px;
    font-weight: 400;
}

.title-modal {
    font-weight: 600;
    color: var(--text-gray2);
}

.btn {
    border-radius: 2px !important;
}

.wallet-connected {
    border-radius: 2px;
    border: 1px solid rgb(114, 198, 234);
    background-color: #cef9ff;
}

.testnetEnvironment {
    padding: 4px;
    background-color: rgb(221, 208, 62);
    color: #5d4c09;
}

.modal_body {
    background-color: #dfdfdf;
    padding: 15px;
    border-radius: 2px;
    max-width: 90%;
    max-height: 90%;
    word-wrap: break-word;
}

.successTransactionBody {
    display: flex;
    flex-direction: column;
}

.successIcon {
    font-size: 60px;
    text-align: center;
}

.automaticLogin {
    display: flex;
    margin-bottom: 30px;
    margin-top: 20px;
}

.bg-buttons-home {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 2px;
}

.btn-whatsap-share {
    text-align: end;
    margin-top: 10px;

    button {
        background-color: rgba(77, 194, 93, 0.254);
        font-size: 14px;
        border: none;
        color: rgb(100, 100, 100);
        padding: 5px 20px;
        border-radius: 20px;
    }
}

.principalBalance {
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    font-family: monospace;
    color: var(--mediumBlue);
    margin-bottom: 30px;
    word-break: break-all;
}

.bg-move {
    background-color: #eeeeee;
    padding: 30px;
    min-height: 100px;
    border-radius: 3px;
}

.f-arial {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.time-movements {
    font-size: 12px;
    color: rgb(162, 162, 162);
    line-height: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-link-home {
    background-color: rgb(29, 29, 29);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        color: var(--yellow);
        font-size: 25px;
        padding: 0px;
        margin: 0px;
        line-height: 25px;
    }

}

.d-flex-colum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        text-decoration: none;
        color: rgb(13, 13, 13);
    }
}

.ppp {
    text-decoration: none;
}

.photo {
    background-color: var(--mediumBlue);
    width: 60px;
    height: 60px;
    font-size: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
}

.hover-pointer:hover {
    cursor: pointer;
}
.hr-operation{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(163, 163, 163);
}
.edit-profile-btn{
    font-size: 15px;
}
.center-login{
    display: flex;
    align-items: center;
    justify-content: center;
}